* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a:hover {
  color: #ffffff; }

button {
  border: none;
  background-color: transparent; }

html {
  scroll-behavior: smooth;
  font-family: 'Rubik', sans-serif; }

body::-webkit-scrollbar {
  width: 5px; }

body::-webkit-scrollbar-track {
  background: #ffffff; }

body::-webkit-scrollbar-thumb {
  background-color: #674ea7;
  border-radius: 25px;
  border: 1px solid #674ea7; }

.encabezado {
  background-color: #39256d;
  display: flex;
  justify-content: space-between;
  padding: 8px;
  height: 60px;
  position: sticky;
  z-index: 9999999999;
  top: 0; }

.titulo {
  font-size: 40px;
  text-decoration: none;
  color: #ffffff;
  margin-left: 2px;
  font-family: "Great Vibes", cursive;
  text-shadow: 2px 2px #000000; }
  .titulo:hover {
    transition: all .3s ease;
    transform: scale(1.2, 1.2) translate(0px, 0px);
    padding-left: 10px;
    padding-right: 10px; }

.icon {
  width: 40px; }

.menuHamburguesa {
  position: absolute;
  top: 16px;
  right: 16px;
  height: 6px;
  width: 50px;
  border-radius: 25px;
  z-index: 9998;
  background-color: #e7dfff;
  transform: rotate(0deg) translate(0, 10px);
  transform-origin: top left;
  transition: transform 500ms ease, background-color 500ms ease; }
  .menuHamburguesa::after, .menuHamburguesa::before {
    content: "";
    background-color: #e7dfff;
    display: block;
    width: 100%;
    height: 6px;
    border-radius: 25px;
    transition: transform 500ms ease, background-color 500ms ease; }
  .menuHamburguesa::before {
    transform: rotate(0) translate(0, -12px); }
  .menuHamburguesa::after {
    transform: rotate(0) translate(0, 6px); }

#check {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 60px;
  width: 80px;
  opacity: 0;
  z-index: 9999; }
  #check:checked + .menuHamburguesa {
    background-color: transparent; }
    #check:checked + .menuHamburguesa::before {
      transform: rotate(45deg) translate(0, 0); }
    #check:checked + .menuHamburguesa::after {
      transform: rotate(-45deg) translate(4px, -5px); }
  #check:checked ~ .navegacion {
    display: block;
    transition: transform .5s ease-in;
    transform: translate(0, 0); }
  #check:checked ~ label img.iconoCancelar {
    display: block; }
  #check:checked ~ label img.iconoHamburguesa {
    display: none; }

.navegacion {
  width: 100%;
  background-color: #39256d;
  height: calc(100vh - 60px);
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 99999999;
  transition: transform .3s ease;
  transform: translate(-100%, 0%); }

.navegacionLista {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 80%;
  margin-bottom: 0;
  padding: 0; }
  .navegacionLista li {
    width: 90%;
    text-align: center; }
    .navegacionLista li a {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      width: 100%;
      height: 100%;
      color: #ffffff;
      text-decoration: none;
      padding: 20px;
      font-size: 24px;
      font-weight: normal;
      font-family: "Rubik", sans-serif; }
      .navegacionLista li a img {
        margin-right: 10px; }
      .navegacionLista li a.active {
        color: #ff64af;
        font-weight: bolder;
        animation-name: resaltar;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate; }
      .navegacionLista li a:hover {
        background-color: #ffffff95;
        color: #ff64af;
        border-radius: 20px; }

@keyframes resaltar {
  0% {
    transform: scale(1, 1);
    color: #ffffff; }
  100% {
    transform: scale(1.05, 1.05);
    color: #ff64af; } }

@media screen and (max-width: 400px) {
  .titulo {
    font-size: 1.5rem; }
  .menuHamburguesa {
    width: 30px;
    height: 5px;
    top: 5px; }
    .menuHamburguesa::after {
      transform: rotate(0) translate(0, 1px); }
    .menuHamburguesa::before {
      transform: rotate(0) translate(0, -8px); }
  #check {
    height: 40px;
    width: 50px; }
  .navegacionLista li a {
    font-size: 1rem;
    padding: 10px; }
    .navegacionLista li a img {
      margin-bottom: 4px; }
  .icon {
    width: 20px; }
  .encabezado {
    height: 40px; }
  .navegacion {
    height: calc(100vh - 40px);
    top: 40px; } }

@media screen and (min-width: 900px) {
  #checkbox {
    display: none; }
  .menuHamburguesa {
    display: none; }
  .encabezado {
    align-items: center; }
  .navegacion {
    display: block;
    position: static;
    width: 700px;
    height: auto;
    transform: translate(0, 0); }
  .navegacionLista {
    flex-direction: row; }
    .navegacionLista li {
      transition: all .2s; }
      .navegacionLista li:hover {
        transform: translateY(-2px); }
      .navegacionLista li a {
        display: inline-block;
        padding: 11px 0;
        font-size: 20px;
        font-weight: normal;
        font-family: "Rubik", sans-serif;
        transition: all 1s; }
  .icon {
    width: 20px;
    height: auto; }
  .titulo {
    font-size: 40px;
    text-decoration: none;
    color: #ffffff;
    margin-left: 2px;
    font-family: "Great Vibes", cursive;
    text-shadow: 2px 2px #000000; }
  .inicioTitulo {
    font-size: 200px; }
  .inicioDescripcion {
    font-size: 30px; } }

.footer {
  background-color: #39256d;
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Rubik", sans-serif; }

.tituloFooter {
  color: #ffffff;
  font-size: 20px;
  margin-top: 10px;
  padding-bottom: 2px;
  text-align: center;
  margin-bottom: 5px; }

.iconoFooterContenedor {
  display: flex;
  justify-content: space-around; }
  .iconoFooterContenedor a {
    transition: all .5s; }
    .iconoFooterContenedor a:hover {
      transform: scale(1.5, 1.5); }

.iconoFooter {
  width: 30px;
  margin-left: 5px;
  margin-right: 5px; }

.copyrightFooter {
  color: #ffffff;
  font-size: 12px;
  padding: 10px; }

@media screen and (max-width: 400px) {
  .tituloFooter {
    font-size: .6rem;
    margin-bottom: 0; }
  .copyrightFooter {
    font-size: .5rem;
    padding: 0; }
  .iconoFooter {
    width: 15px; }
  .footer {
    height: 80px; } }

.inicio {
  width: 100%;
  height: 100vh;
  overflow: hidden; }

.mainInicio {
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url("../assets/galeria/FondoHome.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.inicioTitulo {
  font-family: 'Great Vibes', cursive;
  font-size: 100px;
  color: #674ea7;
  font-weight: bolder;
  text-align: center;
  text-shadow: 1px 1px #ffffff; }

.inicioDescripcion {
  font-size: 40px;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-weight: bolder;
  color: #ffffff;
  text-shadow: 2px 2px #674ea7;
  white-space: nowrap;
  border-right: 4px solid;
  width: 14ch;
  animation: typing 4s steps(14), blink 0.5s infinite step-end alternate;
  overflow: hidden; }

@keyframes typing {
  from {
    width: 0; } }

@keyframes blink {
  50% {
    border-color: transparent; } }

@media screen and (min-width: 900px) {
  .logo {
    width: 200px;
    display: flex;
    align-items: center; }
  .titulo {
    font-size: 40px;
    text-decoration: none;
    color: #ffffff;
    margin-left: 2px;
    font-family: 'Great Vibes', cursive;
    text-shadow: 2px 2px #000000; }
  .inicioTitulo {
    font-size: 200px; }
  .inicioDescripcion {
    font-size: 30px;
    margin: 0 auto; } }

@media screen and (max-width: 400px) {
  .mainInicio {
    height: calc(100vh - 40px); }
  .inicioTitulo {
    font-size: 2rem; }
  .inicioDescripcion {
    font-size: 1rem; } }

.button, .encabezadoReceta form input[type="submit"], .btn, .formularioContacto .btnEnviarContacto {
  font-weight: bolder;
  width: 100px;
  border: 1px solid #000000;
  padding: 10px;
  border-radius: 10px;
  transition: all .2s ease-in-out; }
  .button:hover, .encabezadoReceta form input:hover[type="submit"], .btn:hover, .formularioContacto .btnEnviarContacto:hover {
    background-color: #ffffff;
    color: #ff64af;
    border-radius: 10px;
    border: 1px solid #674ea7; }

@media screen and (max-width: 400px) {
  .button, .encabezadoReceta form input[type="submit"], .btn, .formularioContacto .btnEnviarContacto {
    font-size: .5rem;
    width: 60px;
    padding: 5px; } }

.encabezadoReceta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
  grid-area: Encabezado; }
  .encabezadoReceta form {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .encabezadoReceta form input[type="search"] {
      border: 2px solid #674ea7;
      padding: 10px;
      border-radius: 10px;
      font-size: 16px;
      margin-right: 5px;
      margin-bottom: 10px; }
      .encabezadoReceta form input[type="search"]:focus {
        outline: none; }
    .encabezadoReceta form input[type="submit"] {
      background-color: #674ea7;
      color: #ffffff; }

.tituloReceta {
  font-size: 48px;
  color: #674ea7;
  text-shadow: 2px 2px #000000;
  margin-bottom: 10px;
  text-align: center; }

.lista {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap;
  height: 150px;
  width: 350px;
  padding: 5px;
  list-style: none;
  background-color: #674ea7;
  border-radius: 25px;
  grid-area: nav;
  text-align: center; }
  .lista li a {
    color: #ffffff;
    font-weight: normal;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    padding-left: 10px;
    font-weight: bold;
    font-family: cursive; }
    .lista li a:hover {
      background-color: #ffffff95;
      color: #674ea7;
      border-radius: 20px; }

.contenidoRecetas {
  display: grid;
  grid-template-areas: "Encabezado " "nav        " "Tittar     " "tar1       " "tar2       " "tar3       " "tar4       " "linktar    " "Titmasas   " "masas1     " "masas2     " "masas3     " "masas4     " "linkmasas  "  "Titpanes  " "panes1    " "panes2    " "panes3    " "panes4    " "linkpanes " "Titfact     " "fact1       " "fact2       " "fact3       " "fact4       " "linkfact    " "Titfritas     " "fritas1       " "fritas2       " "fritas3       " "fritas4       " "linkfritas    ";
  justify-items: center; }
  .contenidoRecetas h2 {
    margin: 30px 10px;
    font-size: 32px;
    color: #674ea7; }

.linkRecetas {
  color: #000000;
  text-decoration: none; }
  .linkRecetas:hover {
    color: #674ea7;
    font-weight: bold;
    text-decoration: none; }

#tar {
  grid-area: Tittar;
  justify-self: start; }

.tar1 {
  grid-area: tar1; }

.tar2 {
  grid-area: tar2; }

.tar3 {
  grid-area: tar3; }

.tar4 {
  grid-area: tar4; }

.linktar {
  grid-area: linktar; }

#masas {
  grid-area: Titmasas;
  justify-self: start; }

.masas1 {
  grid-area: masas1; }

.masas2 {
  grid-area: masas2; }

.masas3 {
  grid-area: masas3; }

.masas4 {
  grid-area: masas4; }

.linkmasas {
  grid-area: linkmasas; }

#panes {
  grid-area: Titpanes;
  justify-self: start; }

.panes1 {
  grid-area: panes1; }

.panes2 {
  grid-area: panes2; }

.panes3 {
  grid-area: panes3; }

.panes4 {
  grid-area: panes4; }

.linkpanes {
  grid-area: linkpanes; }

#fact {
  grid-area: Titfact;
  justify-self: start; }

.fact1 {
  grid-area: fact1; }

.fact2 {
  grid-area: fact2; }

.fact3 {
  grid-area: fact3; }

.fact4 {
  grid-area: fact4; }

.linkfact {
  grid-area: linkfact; }

#fritas {
  grid-area: Titfritas;
  justify-self: start; }

.fritas1 {
  grid-area: fritas1; }

.fritas2 {
  grid-area: fritas2; }

.fritas3 {
  grid-area: fritas3; }

.fritas4 {
  grid-area: fritas4; }

.linkfritas {
  grid-area: linkfritas; }

.card {
  position: relative;
  width: 20rem;
  border-radius: 25px;
  overflow: hidden;
  height: 23rem;
  background-color: #e7dfff;
  margin-bottom: 30px;
  box-shadow: 5px 5px 10px black;
  justify-content: space-between;
  border: none; }

.card-title {
  background-color: #674ea7;
  color: #ffffff;
  text-align: center;
  width: 100%;
  height: 100px;
  margin: 0 auto;
  text-align: center;
  padding-top: 30px; }

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover; }

.btn {
  background-color: #674ea7;
  color: #ffffff;
  font-size: .8rem;
  margin: 0 auto;
  margin-bottom: 5px; }

.modal {
  z-index: 2999999999; }
  .modal::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: #000000;
    opacity: .5; }

.modal-content {
  border-radius: 25px;
  border: none; }

.modal-title {
  font-size: 2rem;
  color: #ffffff; }

.modal-header {
  background-color: #674ea7; }
  .modal-header .btn-close {
    margin-right: 0;
    background: url("../assets/icons/cancel.svg"); }

.modal-body {
  background-color: #e7dfff; }
  .modal-body::-webkit-scrollbar {
    width: 5px; }
  .modal-body::-webkit-scrollbar-track {
    background: #ffffff; }
  .modal-body::-webkit-scrollbar-thumb {
    background-color: #674ea7;
    border-radius: 25px;
    border: 1px solid #674ea7; }
  .modal-body img {
    width: 100%;
    border-radius: 25px;
    margin-bottom: 30px; }
  .modal-body ol li {
    list-style-type: none;
    counter-increment: lista;
    position: relative;
    margin-bottom: 10px; }
    .modal-body ol li::before {
      color: #674ea7;
      font-weight: bold;
      content: counter(lista) ")";
      margin-right: 5px; }
  .modal-body table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
    overflow: hidden;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px; }
    .modal-body table th, .modal-body table tr, .modal-body table td {
      border: 1px solid black; }

.tablaEncabezado {
  background-color: #674ea7;
  color: #ffffff;
  font-size: 1.5rem;
  width: 100%;
  border-bottom: 1px solid black;
  text-align: center;
  padding: 10px; }

.tablaEncabezado .tablaPorciones {
  font-size: .8rem; }

.tablaSubtitulo {
  background-color: #ff64af;
  color: #ffffff;
  font-weight: bold;
  padding: 5px; }

.tablaIngrediente::before {
  display: inline-block;
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #674ea7;
  margin-right: 10px;
  margin-bottom: 2px;
  margin-left: 10px; }

.tablaUnidad {
  text-align: end;
  padding: 5px;
  padding-right: 10px; }

[colspan="2"] {
  padding: 5px; }

@media screen and (max-width: 400px) {
  .encabezadoReceta form input[type="search"] {
    padding: 5px;
    font-size: .5rem; }
  .lista {
    width: 140px;
    height: auto;
    flex-wrap: nowrap; }
    .lista li a {
      padding: 5px;
      font-size: .5rem;
      width: 100%; }
  .contenidoRecetas h2 {
    font-size: 1.5rem; }
  .contenidoRecetas a {
    font-size: .7rem; }
  .contenidoRecetas .modal-title {
    font-size: 1rem; }
  .contenidoRecetas .btn-close {
    width: 1px;
    height: 1px; }
  .contenidoRecetas .tablaEncabezado {
    font-size: 1rem; }
  .contenidoRecetas .tablaPorciones,
  .contenidoRecetas .tablaIngrediente,
  .contenidoRecetas .tablaUnidad {
    font-size: .5rem; }
  .contenidoRecetas .tablaSubtitulo {
    font-size: .7rem; }
  .contenidoRecetas .modal-body h4 {
    font-size: 1rem; }
  .contenidoRecetas .modal-body ol li {
    font-size: .5rem; }
  .card {
    width: 200px;
    height: 200px; }
  .card-img-top {
    height: 100px; }
  .card-title {
    height: auto;
    padding: 5px;
    font-size: 1rem; }
  .tituloReceta {
    font-size: 2rem; } }

@media screen and (min-width: 600px) {
  .contenidoRecetas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "Encabezado  Encabezado" "nav         nav" "Tittar      ." "tar1       tar2" "tar3       tar4" "linktar    linktar" "Titmasas   ." "masas1     masas2" "masas3     masas4" "linkmasas  linkmasas"  "Titpanes  ." "panes1    panes2" "panes3    panes4" "linkpanes linkpanes" "Titfact     ." "fact1       fact2" "fact3       fact4" "linkfact    linkfact" "Titfritas     ." "fritas1       fritas2" "fritas3       fritas4" "linkfritas    linkfritas";
    justify-items: center; }
  .lista {
    flex-direction: row;
    height: auto;
    width: auto; }
  .card {
    width: 17rem; } }

@media screen and (min-width: 900px) {
  .contenidoRecetas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "Encabezado  Encabezado  Encabezado" "nav         nav         nav" "Tittar      .           ." "tar1       tar2         tar3" ".          tar4         ." "linktar    linktar      linktar" "Titmasas   .            ." "masas1     masas2       masas3" ".          masas4       ." "linkmasas  linkmasas    linkmasas"  "Titpanes  .            ." "panes1    panes2      panes3" ".          panes4      ." "linkpanes linkpanes   linkpanes" "Titfact     .            ." "fact1       fact2         fact3" ".          fact4         ." "linkfact    linkfact      linkfact" "Titfritas     .            ." "fritas1       fritas2         fritas3" ".          fritas4         ." "linkfritas    linkfritas      linkfritas";
    justify-items: center; } }

@media screen and (min-width: 1300px) {
  .contenidoRecetas {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "Encabezado  Encabezado  Encabezado  Encabezado" "nav         nav         nav         nav       " "Tittar      .           .           .         " "tar1        tar2        tar3        tar4      " "linktar     linktar     linktar     linktar   " "Titmasas    .           .           .         " "masas1      masas2      masas3      masas4    " "linkmasas   linkmasas   linkmasas   linkmasas " "Titpanes   .           .           .         " "panes1     panes2     panes3     panes4   " "linkpanes  linkpanes  linkpanes  linkpanes" "Titfact      Titfact      Titfact      .         " "fact1        fact2        fact3        fact4      " "linkfact     linkfact     linkfact     linkfact   " "Titfritas      Titfritas      Titfritas      Titfritas    " "fritas1        fritas2        fritas3        fritas4      " "linkfritas     linkfritas     linkfritas     linkfritas   ";
    justify-items: center;
    align-items: start; }
  .modal-dialog {
    max-width: 700px; } }

@media screen and (min-width: 1800px) {
  .card {
    width: 25rem;
    height: 29rem; }
  .card-img-top {
    height: 280px; } }

.galeria {
  width: 100%;
  min-width: 250px; }
  .galeria .modal-body {
    height: 90vh; }
    .galeria .modal-body img {
      margin-bottom: 0px; }

.imagenes {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 50%));
  grid-auto-rows: 200px;
  grid-auto-flow: row dense; }
  .imagenes img {
    width: 100%;
    height: 100%;
    padding: 5px;
    object-fit: cover;
    border-radius: 25px; }
  .imagenes button:nth-child(2n + 1) {
    grid-row: span 2; }

@media screen and (max-width: 400px) {
  .imagenes {
    display: grid;
    grid-template-columns: 250px;
    justify-content: center;
    grid-auto-rows: auto; }
    .imagenes .modal-title {
      font-size: 1rem; }
    .imagenes .btn-close {
      width: 1px;
      height: 1px; } }

@media screen and (min-width: 600px) {
  .imagenes {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 50%));
    grid-auto-rows: 200px;
    grid-auto-flow: row dense; }
    .imagenes button:nth-child(3n) {
      grid-row: span 2;
      grid-column: span 2; }
    .imagenes button:nth-child(20) {
      grid-row: 1 / 3; } }

@media screen and (min-width: 900px) {
  .imagenes {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 50%));
    grid-auto-rows: 200px;
    grid-auto-flow: row dense; }
    .imagenes button:nth-child(2n) {
      grid-row: span 2;
      grid-column: span 1; }
    .imagenes button:nth-child(5), .imagenes button:nth-child(19), .imagenes button:nth-child(23), .imagenes button:nth-child(24) {
      grid-column: span 2;
      grid-row: span 2; } }

@media screen and (min-width: 1300px) {
  .imagenes {
    display: grid;
    grid-template-columns: repeat(6, minmax(200px, 50%));
    grid-auto-rows: 200px;
    grid-auto-flow: row dense; }
    .imagenes button:nth-child(3n) {
      grid-row: span 4;
      grid-column: span 3; }
    .imagenes button:nth-child(21) {
      grid-row: span 2; }
    .imagenes button:nth-child(13) {
      grid-column: span 2; }
    .imagenes button:nth-child(18) {
      grid-row: span 3;
      grid-column: span 3; }
    .imagenes button:nth-child(19) {
      grid-row: span 3;
      grid-column: span 3; }
    .imagenes button:nth-child(24), .imagenes button:nth-child(22) {
      grid-column: span 2;
      grid-row: span 2; } }

@media screen and (min-width: 1800px) {
  .imagenes {
    display: grid;
    grid-template-columns: repeat(12, minmax(100px, 50%));
    grid-auto-rows: 200px;
    grid-auto-flow: row dense; }
    .imagenes button:nth-child(2n) {
      grid-row: span 4;
      grid-column: span 2; }
    .imagenes button:nth-child(21) {
      grid-row: span 3; }
    .imagenes button:nth-child(24) {
      grid-row: span 2;
      grid-column: span 3; } }

.sobreMi {
  background-color: #e7dfff;
  font-family: "Rubik", sans-serif;
  padding: 5px;
  display: grid;
  grid-template-areas: "TituloSobreMi   TituloSobreMi " "VideoSobreMi    VideoSobreMi" "ContactoSobreMi ContactoSobreMi"; }

.sectionSobreMi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: TituloSobreMi; }

.videoMobileSobreMi {
  width: 100%;
  border-radius: 25px;
  pointer-events: none;
  grid-area: VideoSobreMi; }

.videoDesktopSobreMi {
  display: none; }

.textoSobreMi {
  font-size: 48px;
  padding: 10px; }

.imgSobreMi {
  height: 90%;
  border-radius: 50px;
  align-self: flex-start; }

.tituloSobreMi {
  color: #674ea7;
  text-shadow: 2px 2px #ffffff;
  font-size: 50px;
  margin-bottom: 40px; }

.descripcionSobreMi {
  font-size: 18px;
  line-height: 32px; }

.iconoUbicacion {
  width: 20px; }

.ubicacionSobreMi {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  grid-area: ContactoSobreMi; }
  .ubicacionSobreMi article {
    margin: 30px 0; }
  .ubicacionSobreMi h3 {
    font-size: 24px;
    text-align: center; }
  .ubicacionSobreMi a {
    font-size: 15px;
    text-decoration: none;
    color: #000000; }
    .ubicacionSobreMi a:hover {
      color: #674ea7; }
  .ubicacionSobreMi iframe {
    width: 100%; }

@media screen and (max-width: 400px) {
  .tituloSobreMi {
    font-size: 2rem; }
  .descripcionSobreMi {
    font-size: .7rem;
    line-height: 1.2rem; }
  .ubicacionSobreMi h3 {
    font-size: .7rem; }
  .ubicacionSobreMi a {
    font-size: .5rem; }
  .ubicacionSobreMi iframe {
    height: 150px; } }

@media screen and (min-width: 900px) {
  .sobreMi {
    grid-template-areas: "TituloSobreMi   VideoSobreMi" "ContactoSobreMi ContactoSobreMi"; }
  .sectionSobreMi {
    align-self: start; }
  .tituloSobreMi {
    font-size: 80px; }
  .descripcionSobreMi {
    font-size: .6em; }
  .videoMobileSobreMi {
    display: none; }
  .videoDesktopSobreMi {
    margin-top: 40px;
    display: block;
    border-radius: 25px;
    height: 80vh;
    margin-right: 20px;
    pointer-events: none; } }

.button, .encabezadoReceta form input[type="submit"], .btn, .formularioContacto .btnEnviarContacto {
  font-weight: bolder;
  width: 100px;
  border: 1px solid #000000;
  padding: 10px;
  border-radius: 10px;
  transition: all .2s ease-in-out; }
  .button:hover, .encabezadoReceta form input:hover[type="submit"], .btn:hover, .formularioContacto .btnEnviarContacto:hover {
    background-color: #ffffff;
    color: #ff64af;
    border-radius: 10px;
    border: 1px solid #674ea7; }

@media screen and (max-width: 400px) {
  .button, .encabezadoReceta form input[type="submit"], .btn, .formularioContacto .btnEnviarContacto {
    font-size: .5rem;
    width: 60px;
    padding: 5px; } }

.contacto {
  width: 100%;
  height: 100vh;
  font-family: "Rubik", sans-serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), url("../assets/galeria/FondoHome.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.mainContacto {
  height: calc(100vh - 170px);
  display: flex;
  justify-content: center;
  align-items: center; }

.formularioContacto {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 400px;
  border-radius: 30px;
  border: 3px solid #000000;
  overflow: hidden; }
  .formularioContacto::before {
    content: "";
    position: absolute;
    width: 350px;
    height: 400px;
    border-radius: 30px;
    backdrop-filter: blur(5px);
    z-index: -1; }
  .formularioContacto input {
    background-color: #674ea750;
    color: #ffffff;
    width: 60%;
    margin: 10px auto;
    border: none;
    border-bottom: 2px solid #674ea7;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: bolder; }
    .formularioContacto input:focus {
      outline: none;
      background-color: #674ea6;
      box-shadow: 0px 0px 10px 4px #ffffff; }
    .formularioContacto input::placeholder {
      color: #ffffff;
      font-size: 16px;
      font-weight: bolder; }
  .formularioContacto textarea {
    background-color: #674ea750;
    color: #ffffff;
    height: 100%;
    margin: 16px 10px 0px 10px;
    border-bottom: 2px solid #674ea7;
    border-radius: 25px;
    border: none;
    padding: 10px;
    font-size: 18px;
    font-weight: bolder;
    resize: none; }
    .formularioContacto textarea:focus {
      outline: none;
      background-color: #674ea6;
      box-shadow: 0px 0px 10px 4px #ffffff; }
    .formularioContacto textarea::placeholder {
      color: #ffffff;
      font-size: 18px;
      font-weight: bolder;
      text-align: center; }
  .formularioContacto .btnEnviarContacto {
    background-color: #674ea7;
    color: #ffffff;
    margin: 10px auto; }

.tituloContacto {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  font-size: 30px;
  color: #674ea7;
  border-bottom: 3px solid black;
  text-shadow: 2px 1px #ffffff;
  margin-bottom: 10px; }

@media screen and (max-width: 400px) {
  .mainContacto {
    height: 90vh; }
  .formularioContacto {
    width: 200px;
    height: 300px;
    margin: 10px auto; }
    .formularioContacto::before {
      width: 200px;
      height: 300px; }
    .formularioContacto input {
      font-size: .5rem;
      margin: 2px auto; }
      .formularioContacto input::placeholder {
        font-size: .5rem; }
    .formularioContacto textarea {
      font-size: .5rem;
      margin-top: 4px; }
      .formularioContacto textarea::placeholder {
        font-size: .5rem; }
  .tituloContacto {
    font-size: 1rem; } }
