@import 'variables';
@import 'componentes';

.contacto {
    width: 100%;
    height: 100vh; 
    font-family: $familiaFuente;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), url("../assets/galeria/FondoHome.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.mainContacto {
    height:calc(100vh - 170px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.formularioContacto {
    display:flex;
    flex-direction: column;
    width: 350px;
    height: 400px;
    border-radius: 30px;
    border: 3px solid #000000;
    overflow: hidden;

    &::before {
        content: "";
        position:absolute;
        width: 350px;
        height: 400px;
        border-radius: 30px;
        backdrop-filter: blur(5px);
        z-index: -1;
    } 

    input {
        @include pintarFondoyLetra (#674ea750,$colorSecundario);
        width: 60%;
        margin: 10px auto;
        border: none;
        border-bottom: 2px solid $colorPrimario;
        border-radius: 25px;
        padding: 10px;
        text-align: center;
        font-size: 16px;
        font-weight: bolder;

        &:focus {
            outline: none;
            background-color: #674ea6;
            box-shadow: 0px 0px 10px 4px #ffffff;
        }

        &::placeholder {
            color: $colorSecundario;
            font-size: 16px;
            font-weight: bolder;
        } 
    }

    textarea {
        @include pintarFondoyLetra (#674ea750,$colorSecundario);
        height: 100%;
        margin: 16px 10px 0px 10px;
        border-bottom: 2px solid $colorPrimario;
        border-radius: 25px;
        border: none;
        padding: 10px;
        font-size: 18px;
        font-weight: bolder;
        resize: none;

        &:focus {
            outline: none;
            background-color: #674ea6;
            box-shadow: 0px 0px 10px 4px #ffffff;
        }

        &::placeholder {
            color: $colorSecundario;
            font-size: 18px;
            font-weight: bolder;
            text-align: center;
        } 
    }

    .btnEnviarContacto {
        @include pintarFondoyLetra ($colorPrimario,$colorSecundario);
        margin: 10px auto;
        @extend .button;
        
    }

}

.tituloContacto {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    font-size: 30px;
    color: $colorPrimario;
    border-bottom: 3px solid black;
    text-shadow: 2px 1px $colorSecundario;
    margin-bottom: 10px;
}



@media screen and (max-width: 400px) {
    .mainContacto {
        height: auto;
    }

    .formularioContacto {
        width: 200px;
        height: 300px;
        margin: 10px auto;

        &::before {
            width: 200px;
            height: 300px;
        }
        input {
            font-size: .5rem;
            margin: 2px auto;

            &::placeholder {
                font-size: .5rem;
            }
        }
        
        textarea {
            font-size: .5rem;
            margin-top: 4px;
            
            &::placeholder {
                font-size: .5rem;
            }
        }
    }

    .tituloContacto {
        font-size: 1rem;
    }

}