@import 'variables';

.footer{
    background-color: $colorGeneral;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: $familiaFuente;
}

.tituloFooter {
    color: $colorSecundario;
    font-size: 20px;
    margin-top: 10px;
    padding-bottom: 2px;
    text-align: center;
    margin-bottom: 5px;
}

.iconoFooterContenedor {
    display: flex;
    justify-content: space-around;

    a {
        transition: all .5s;

        &:hover {
            transform: scale(1.5,1.5);        
        }
    }
}

.iconoFooter {
    width: 30px;
    margin-left: 5px;
    margin-right: 5px;
}

.copyrightFooter {
    color: $colorSecundario;
    font-size: 12px;
    padding: 10px;
}

@media screen and (max-width: 400px)  {
    .tituloFooter {
        font-size: .6rem;
        margin-bottom: 0;
    }
    
    .copyrightFooter {
        font-size: .5rem;
        padding: 0;
    }

    .iconoFooter {
        width: 15px;
    }

    .footer {
        height: 80px;
    }
}