@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:hover{
    color:4;
}

button {
    border: none;
    background-color: transparent;
}


html {
    scroll-behavior: smooth;
    font-family: 'Rubik', sans-serif;
}

body {
    &::-webkit-scrollbar {
        width: 5px;               /* width of the entire scrollbar */
    }

    &::-webkit-scrollbar-track {
        background:$colorSecundario;        /* color of the tracking area */
    }

    &::-webkit-scrollbar-thumb {
        background-color:$colorPrimario;    /* color of the scroll thumb */
        border-radius: 25px;       /* roundness of the scroll thumb */
        border: 1px solid $colorPrimario;  /* creates padding around scroll thumb */
     }
}