@import 'variables';
@import 'mixins';
@import 'componentes';


.encabezadoReceta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    grid-area: Encabezado;

    form {
        display: flex;
        flex-direction: column;
        align-items: center;

        input[type="search"] {
            border: 2px solid $colorPrimario;
            padding: 10px;
            border-radius: 10px;
            font-size: 16px;    
            margin-right: 5px;

            &:focus {
                outline: none;
            }
        }
        
        input[type="submit"] {
            @include pintarFondoyLetra ($colorPrimario,$colorSecundario);

            @extend .button
        }

    }
}

.tituloReceta {
    font-size: 48px;
    color: $colorPrimario;
    text-shadow: 2px 2px #000000;
    margin-bottom: 10px;
    text-align: center;
}

.lista {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
    height: 150px;
    width: 350px;
    padding:5px;
    list-style: none;
    background-color: $colorPrimario;
    border-radius: 25px;
    grid-area: nav;
    text-align: center;

    li a {
        color: $colorSecundario;
        font-weight: normal;
        display: inline-block;
        padding: 10px;
        text-decoration: none;
        padding-left: 10px;
        font-weight: bold;
        font-family: cursive;
        
        &:hover {
            @include pintarFondoyLetra ($colorSecundHover,$colorPrimario);
            border-radius: 20px;
        }
    }
}

.contenidoRecetas {
    display: grid;
    grid-template-areas:     "Encabezado "
                             "nav        "
                             "Tittar     "
                             "tar1       "
                             "tar2       "
                             "tar3       "
                             "tar4       "
                             "linktar    "
                             "Titmasas   "
                             "masas1     "
                             "masas2     "
                             "masas3     "
                             "masas4     "
                             "linkmasas  " 
                             "Titpanes  "
                             "panes1    "
                             "panes2    "
                             "panes3    "
                             "panes4    "
                             "linkpanes "
                             "Titfact     "
                             "fact1       "
                             "fact2       "
                             "fact3       "
                             "fact4       "
                             "linkfact    "
                             "Titfritas     "
                             "fritas1       "
                             "fritas2       "
                             "fritas3       "
                             "fritas4       "
                             "linkfritas    "
                             ;
    justify-items: center;

    h2 {
        margin: 30px 10px;
        font-size: 32px;
        color: $colorPrimario;
    }
}

.linkRecetas {
    color: #000000;
    text-decoration: none;

    &:hover {
        color: $colorPrimario;
        font-weight: bold;
        text-decoration: none;
    }

}

$secciones: tar, masas, panes, fact, fritas;

@each $seccion in $secciones {

    ##{$seccion}{
        grid-area: Tit#{$seccion};
        justify-self: start; 
    } 

    @for $i from 1 through 4  {
        .#{$seccion}#{$i} {
            grid-area: #{$seccion}#{$i};
        }
    }

    .link#{$seccion} {
        grid-area: link#{$seccion};
    }
    
}

.card {
    position: relative;
    width: 20rem;
    border-radius: 25px;
    overflow: hidden;
    height: 23rem;
    background-color: $colorTerciario;
    margin-bottom: 30px;
    box-shadow: 5px 5px 10px black;
    justify-content: space-between;
}

.card-title {
    @include pintarFondoyLetra($colorPrimario,$colorSecundario);
    text-align: center;
    width: 100%;
    height: 100px;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.btn{
    @include pintarFondoyLetra($colorPrimario,$colorSecundario);
    font-size: .8rem;
    margin: 0 auto;
    margin-bottom: 5px;
    @extend .button;
}

.modal {
    z-index: 2999999999;

    &::before {
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        background-color: #000000;
        opacity: .5;
    }
}

.modal-content {
    border-radius: 25px;
}

.modal-title {
    font-size: 2rem;
    color:$colorSecundario;
}

.modal-header {
    background-color: $colorPrimario;

    .btn-close {
        margin-right: 0;
        background: url("../assets/icons/cancel.svg");
    }
}

.modal-body {
    background-color: $colorTerciario;

    &::-webkit-scrollbar {
        width: 5px;      
    }

    &::-webkit-scrollbar-track {
        background: $colorSecundario;     
    }

    &::-webkit-scrollbar-thumb {
        background-color:$colorPrimario;
        border-radius: 25px;      
        border: 1px solid $colorPrimario;
    }

    img {
        width: 100%;
        border-radius: 25px;
        margin-bottom: 30px;
 
    }

    ol li {
        list-style-type: none;
        counter-increment: lista;
        position:relative;
        margin-bottom: 10px;

        &::before{
            color: $colorPrimario;
            font-weight: bold;
            content: counter(lista) ")";
            margin-right: 5px;
        }
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 30px;
        overflow: hidden;
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;

        th,tr,td {
            border: 1px solid black;
            
        }
    }


}

.tablaEncabezado {
    @include pintarFondoyLetra($colorPrimario,$colorSecundario);
    font-size: 1.5rem;
    width: 100%;
    border-bottom: 1px solid black;
    text-align: center;
    padding: 10px;
}

.tablaEncabezado .tablaPorciones{
    font-size: .8rem;
}
.tablaSubtitulo {
    @include pintarFondoyLetra($colorActive,$colorSecundario);
    font-weight: bold;
    padding: 5px;
}

.tablaIngrediente::before {
    display: inline-block;
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #674ea7;
    margin-right: 10px;
    margin-bottom: 2px;
    margin-left: 10px;
}

.tablaUnidad {
    text-align: end;
    padding: 5px;
    padding-right: 10px;
}

[colspan="2"] {
    padding: 5px;            
}

@media screen and (min-width: 600px) { 

    .contenidoRecetas {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:     "Encabezado  Encabezado"
                                 "nav         nav"
                                 "Tittar      ."
                                 "tar1       tar2"
                                 "tar3       tar4"
                                 "linktar    linktar"
                                 "Titmasas   ."
                                 "masas1     masas2"
                                 "masas3     masas4"
                                 "linkmasas  linkmasas" 
                                 "Titpanes  ."
                                 "panes1    panes2"
                                 "panes3    panes4"
                                 "linkpanes linkpanes"
                                 "Titfact     ."
                                 "fact1       fact2"
                                 "fact3       fact4"
                                 "linkfact    linkfact"
                                 "Titfritas     ."
                                 "fritas1       fritas2"
                                 "fritas3       fritas4"
                                 "linkfritas    linkfritas"
                                 ;
        justify-items: center;
    }

    .lista {
        flex-direction: row;
        height: auto;
        width: auto;
    }
    .card {
        width: 17rem;
    }
}


@media screen and (min-width: 900px) {
     
    .contenidoRecetas {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:     "Encabezado  Encabezado  Encabezado"
                                 "nav         nav         nav"
                                 "Tittar      .           ."
                                 "tar1       tar2         tar3"
                                 ".          tar4         ."
                                 "linktar    linktar      linktar"
                                 "Titmasas   .            ."
                                 "masas1     masas2       masas3"
                                 ".          masas4       ."
                                 "linkmasas  linkmasas    linkmasas" 
                                 "Titpanes  .            ."
                                 "panes1    panes2      panes3"
                                 ".          panes4      ."
                                 "linkpanes linkpanes   linkpanes"
                                 "Titfact     .            ."
                                 "fact1       fact2         fact3"
                                 ".          fact4         ."
                                 "linkfact    linkfact      linkfact"
                                 "Titfritas     .            ."
                                 "fritas1       fritas2         fritas3"
                                 ".          fritas4         ."
                                 "linkfritas    linkfritas      linkfritas"
                                 ;
        justify-items: center;
    }
}

@media screen and (min-width: 1300px) { 
    .contenidoRecetas {
        padding: 10px;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-areas: "Encabezado  Encabezado  Encabezado  Encabezado"
                             "nav         nav         nav         nav       "
                             "Tittar      .           .           .         "
                             "tar1        tar2        tar3        tar4      "
                             "linktar     linktar     linktar     linktar   "
                             "Titmasas    .           .           .         "
                             "masas1      masas2      masas3      masas4    "
                             "linkmasas   linkmasas   linkmasas   linkmasas "
                             "Titpanes   .           .           .         "
                             "panes1     panes2     panes3     panes4   "
                             "linkpanes  linkpanes  linkpanes  linkpanes"
                             "Titfact      Titfact      Titfact      .         "
                             "fact1        fact2        fact3        fact4      "
                             "linkfact     linkfact     linkfact     linkfact   "
                             "Titfritas      Titfritas      Titfritas      Titfritas    "
                             "fritas1        fritas2        fritas3        fritas4      "
                             "linkfritas     linkfritas     linkfritas     linkfritas   "                            

                             ;
    
        justify-items: center;
        align-items: start;
    }

    .modal-dialog {
        max-width: 700px;
    }
}

@media screen and (min-width: 1800px) {
    .card {
        width: 25rem;
        height: 29rem;
    }

    .card-img-top {
        height: 280px;
    }
}