$colorPrimario: #674ea7;
$colorSecundario: #ffffff;
$colorSecundHover: #ffffff95;
$colorTerciario: #e7dfff;
$colorActive:#ff64af;
$familiaFuente: 'Rubik', sans-serif;
$familiaEncabezadoTitulo:'Great Vibes', cursive;